  <div class="reporte_detalle">
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.text_field :categoria %>
  </div>
  <div class="field">
    <%= f.label :numeropersonas %><br>
    <%= f.text_field :numeropersonas %>
  </div>
  <div class="task">