<h1>New reporte_detalle</h1>
<%= form_for(@reporte_detalle) do |f| %>
  

  <%= render 'reporte_detalle', f: f %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', obras_path %>


