<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @empresa.descripcion %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa),  class: "btn btn-default"%> |
<%= link_to 'Back', empresas_path,  class: "btn btn-default" %>
